html,
body{
	width: 100%;
	background-color: #fff;
	font-family: 'Open Sans', 'Roboto', sans-serif;
	overflow-x: hidden;
}

/*test-scroll*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



/*Navbar Css*/
.icon-bar{
	background-color: #000;
	margin-top: 14px;
	border-width: 2px solid #000;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent
}

.navbar-fixed-top {
	background-color: white;
	height: 18%;
	box-shadow: 0px 0px 3px 0px #aaa;

}

.kl-nav {
	padding-top: 38px;
}

.nav .active a:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav li a {
	color: #1c1c1c;
	padding-bottom: 3px;
	cursor: pointer;
	background-color: transparent;
	border-color: white;
}

.navbar-default .navbar-nav>.active>a {
    color: #1c1c1c;
    background-color: transparent;
    margin: 16px 22px 0px 22px;
    padding: 0;
    padding-bottom: 3px;
	border-bottom: 2px solid #1c1c1c;
	content: "";
}

.navbar-nav li a {
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    margin: 16px 22px 0px 22px;
	padding: 0;
	padding-bottom: 3px;
	content: ""
}

.navbar-nav li:hover {
	border-bottom: 2px solid #1c1c1c;
	padding-bottom: 3px;
	padding: 0;
	content: "";
}

.logo {
	width: 250px;
	margin-top: 11px;
}


/*Background-Image Css*/
.wrapper {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
}

.style-background {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #22272d99;
	z-index: 2;
}

.container-flex {
	text-align: center;
}

.text {
	padding-top: 14em;
}

.text > h1 {
	color: #fff;
	font-size: 48px;
}

.book-button .btn-default {
	height: 50px;
	width: 200px;
	border-color: #fff;
	background-color: transparent;
	border-radius: 150px;
	margin-top: 22px;
	color: #fff;
}

.book-button .btn-default:hover {
	background-color: #333;
}



/*ABOUT ZUBY CSS*/
.container-about {
	margin-top: 100px;
	margin-bottom: 50px;
}

.zuby-image {
	margin-top: 32px;
}

.zuby-image img {
	display: block;
	max-height: auto;
	max-width: 100%;
}

.margin-left {
	margin-left: 35px;
}

.zuby-text h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.zuby-paragraph h4 {
	font-size: 16px;
	color: #646464;
	line-height: 20px;
}

.all-icons {
	margin-top: 0.5em;
}

.fa-telegram {
	font-size: 38px;
	color: #333333;
}

.fa-yelp {
	font-size: 38px;
	color: #333333;
}

.font-icon h4 {
	font-size: 16px;
	color: #646464;
	font-weight: bold;
	padding-top: 22px;
}

.font-icon {
	margin-bottom: 1.5em;
}

.fa-umbrella {
	font-size: 38px;
	color: #333333;
}

.fa-user-md {
	font-size: 38px;
	color: #333333;
}


/*TOPICS CSS*/
.topic-header h1 {
	font-size: 36px;
	font-weight: 500;
	line-height: 21px;
	color: #1c1c1c;
	padding-top: 7px;
}

.topic-header {
	height: 34px;
	color: #1c1c1c;
	border-left: 4px solid #333333;
	padding-left: 15px;
}

.topic-icons {
	margin-top: 50px;
	margin-bottom: 50px;
}

.fa-spinner {
	color: #49494a;
	font-size: 46px;
}

.fa-video-camera {
	color: #49494a;
	font-size: 46px;
}

.fa-microphone {
	color: #49494a;
	font-size: 46px;
}

.fa-flag-checkered {
	color: #49494a;
	font-size: 46px;
}

.main-header h4 {
	font-size: 18px;
	color: #49494a;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 15px;
}

.topic-paragraph p {
	font-size: 18px;
	line-height: 28px;
	color: #6e6e6e;
}

.topic-paragraph a {
	font-size: 18px;
	color: #6e6e6e;
	line-height: 28px;
}



/* New Content */
.new-content {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #000;
}

.content-below {
	margin-top: 50px;
	margin-bottom: 50px;
}

.content-header h1 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 36px;
	color: #fff;
}

.content-header p {
	font-size: 18px;
	color: whitesmoke;
	line-height: 28px;
}


/* Speaking-Areas */
.speaking-areas {
	margin-top: 50px;
	margin-bottom: 50px;
}

.container-areas {
	margin-top: 50px;
	margin-bottom: 50px;
}

.areas-section h1 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 36px;
}

.areas-section p {
	font-size: 18px;
	line-height: 28px;
	color: #6e6e6e;
}



/*SPEAKING CSS*/
.speaker-logos {
	margin-top: 50px;
}

.speaker-header {
	height: 34px;
	color: #1c1c1c;
	border-left: 4px solid #333333;
	padding-left: 15px;
}

.logo-section img {
	max-height: 70px;
	max-width: 130px;
}


/*EVENT & SEMINARS CSS*/
.container-seminar {
	margin-top: 50px;
	margin-bottom: 50px;
}

.event-head {
	height: 34px;
	color: #1c1c1c;
	border-left: 4px solid #333333;
	padding-left: 15px;
}

.event-seminar {
	margin-top: 50px;
}


/*AWARDS CSS*/
.container-awards {
	background-color: #eee;
}

.awards-session {
	margin-top: 50px;
}

.awards-head {
	height: 34px;
	color: #1c1c1c;
	border-left: 4px solid #333333;
	padding-left: 15px;
	margin-bottom: 0px;
}

.awards-logos {
	margin-bottom: 50px;
	margin-top: 50px;
}


/*PROJECTS CSS*/
.container-projects {
	margin-top: 50px;
}

.project-header  {
	padding-bottom: 15px;
}

.show-projects img {
	height: auto;
	max-width: 100%;
	display: block;
}

.project-text h1 {
	font-size: 30px;
	color: #1e1e1e;
	font-weight: 400;
}

.project-paragraph p {
	font-size: 16px;
	line-height: 30px;
	color: #212121;
}

.project-button .btn-default {
	height: 45px;
	width: 150px;
	border-radius: 0px;
	border-color: #000;
	font-size: 12px;
	background-color: #fff;
}

.project-button .btn-default:hover {
	background-color: #000;
	color: #fff;
}


/* MEDIA CSS */
.container-media {
	margin-top: 50px;
	background-color: #eee;
}

.media-session {
	margin-top: 50px;
}

.media-logos {
	margin-bottom: 50px;
}

.media-head h1 {
	padding-bottom: 22px;
}

.padding-media {
	margin-bottom: 22px;;
}


/*HERO SECTION*/
.container-hero {
	height: 45vh;
	width: 100%;
	background-color: #232425;
	
}

.hero-section {
	text-align: center;
	padding-top: 70px;
}

.hero-section h2 {
	color: #fff;
}

.hero-button .btn-default{
	height: 50px;
	width: 150px;
	border-radius: 0px;
	background-color: #49494a;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 22px;
}

.hero-button .btn-default:hover {
	background: #000;
}


/*FOOTER SECTION*/
.container-footer {
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer-head {
    height: 34px;
    color: #1c1c1c;
    border-left: 4px solid #333333;
    padding-left: 15px;
}

.footer-head h1 {
	color: #1c1c1c;
}

.foot-paragraph {
	font-size: 16px;
	color: #646464;
	line-height: 21px;
	padding-top: 18px;
	font-weight: 500;
	margin-left: -22px;
}

.social-links {
	list-style: none;
}

.social-links li {
	display: inline-block;
	padding: 0;
}

.footer-icons {
	margin: 45px 0px 0px 0px;
}

.social-links li a {
	margin-right: 8px;
	margin-left: 8px;
}


.social-links li  a {
	border-radius: 26px;
	height: 44px;
	width: 44px;
	border: 2px solid #333333;
	font-size: 16px;
	text-align: center;
	background-color: #fff;
	padding: 11px 0px 0px 0px;
	margin: 0 9px 0px 0px;
}

.social-links li a:hover{
	background: #000;
	color: #fff;
}


/*Mobile Responsive*/
@media only screen and (max-width: 767px) {
	/* For mobile phones: */
	.topic-paragraph p {
		margin-bottom: 30px;
	}
	.main-header h4 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.fit-topic {
		margin-left: 22px;
	}
	.sxsw-logo {
		margin-top: -58px;
	}
	.vision-logo {
		height: 70px;
		margin-top: 28px;
	}
	.africa-logo {
		height: 70px;
		width: 90px;
		margin-bottom: -89px;
	}
	.achieve-logo {
		margin-top: -39px;
	}
	.austin-logo {
		margin-top: -39px;
	}
	.hospital-logo {
		margin-top: -45px;
	}
	.hopkins-logo {
		margin-top: -40px;
	}
	.latinitas-logo {
		margin-bottom: 22px;
	}
	.national-logo {
		margin-top: -37px;
	}
	.nsf-logo {
		margin-top: -29px;
	}
	.oph-logo {
		margin-top: 22px;
	}
	.oaklawn-logo {
		margin-top: 35px;
	}
	.tame-logo {
		margin-top: -59px;
	}
	.perkins-logo {
		margin-top: 22px;
	}
	.rework-logo {
		margin-top: 22px;
	}
	.work-logo {
		margin-top: -9px;
	}
	.sla-logo {
		margin-top: 22px;
	}
	.tech-logo {
		margin-top: 22px;
		height: 70px;
	}
	.trinity-logo {
		margin-top: 39px;
	}
	.texas-logo {
		margin-top: 22px;
	}
	.event-head {
		margin-bottom: 22px;
		margin-left: 22px;
	}
	.USDCC-logo {
		margin-top: 22px;
	}
	.blue-logo {
		margin-top: 22px;
	}
	.black-logo {
		margin-top: -70px;
	}
	.project-button .btn-default {
		margin-bottom: 28px;
	}
	.media-head h1 {
		padding-left: 22px;
	}
	.hero-section {
		margin-top: -30px;
	}
	.footer-icons {
		margin-top: 120px;
	}
	.apple-logo {
		margin-top: 42px;
	}
	.drug-logo {
		margin-top: 45px;
	}
	.color-logo {
		margin-top: -275px;
	}
	.education-logo {
		margin-top: -134px;
	}
	.columbia-logo {
		margin-top: 22px;
		margin-left: -183px;
	}
	.design-logo {
		margin-top: 39px;
	}
	.lagos-logo {
		margin-top: 36px;
	}
	.medium-logo {
		margin-top: 36px;
	}
	.mitg-logo {
		margin-top: 36px;
	}
	.mvm-logo {
		margin-top: 36px;
	}
	.united-logo {
		margin-top: 36px;
	}
	.wework-logo {
		margin-top: -88px;
	}
	.zoomwhite-logo {
		margin-top: 36px;
	}
	.techafrica-logo {
		margin-top: -88px;
	}
	.austin-logo {
		margin-top: -71px;
		height: 70px;
	}
	.cell-logo {
		margin-top: -55px;
	}
	.hack-logo {
		margin-top: -55px;
	}
	.nfb-logo {
		margin-top: 28px;
	}
	.patent-logo {
		margin-top: 28px;
	}
	.pitchakid-logo {
		margin-top: -29px;
	}
	.pitchblack-logo {
		margin-top: -31px;
	}
	.wh-logo {
		margin-top:40px;
	}
	.xsxw-logo {
		margin-top: -303px;
	}
	.chick-logo {
		margin-top: -70px;
		height: 70px;
	}
	.google-logo {
		margin-top: -70px;
		height: 70px;
	}
	.kl-nav {
		background: white;
		margin-top: 0px;
	}
	.navbar-default .navbar-toggle {
		border-color: snow;
		margin-top: -4px;
		background-color: transparent
	}
	.navbar-fixed-top {
		height: 10%;
		background-color: white;
	}
	.wrapper {
		height: 88vh;
	}
	.style-background {
		height: 88%;
	}
	.medic-logo {
		margin-top: 8px;
	}
	.dive-logo {
		margin-top: 8px;
	}
	.text {
		padding-top: 10em;
	}
	.logo {
		width: 218px;
		margin-top: -14px;
		height: 50px;
	}
	.text > h1 {
		color: #fff;
		font-size: 44px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #000;
	}
	.container-speaking {
		text-align: center;
	}
	.container-seminar {
		text-align: center;
	}
	.container-awards {
		text-align: center;
	}
	.container-projects {
		text-align: center;
	}
	.container-media {
		text-align: center;
	}
}



